*{
    margin: 0;
    padding: 0;
    }
    
    .navigation{
    background-color: black;
    }
    .navigation li{
    display: inline-block;
    }
    .navigation li a{
    font-size: 12px;
    color: teal;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid teal;
    border-radius: 10px;
    transition: 0.5s;
    }
    
    .navigation li a:hover{
    color: red;
    font-size: 14px;
    transition: 0.5s;
    transform: scale(0.7);
    }